.nav > li > a {
  padding-left:10px;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: transparent;
  color: white;
}
.wrapper.wrapper-content{
  padding: 10px 0 0;
}
#page-wrapper,
.navbar-default.navbar-static-side{
  overflow-y: scroll;
  height: 100vh;
}
select{
  cursor: pointer;
}
.fz-8{
  font-size: 8px;
  color: #ffffff;
}
.chart-div input,
.chart-div select{
font-size: 14px;
color: #111111;
}
.chart-div label{
  color: #ffffff;
}
.chart-div .dropdown-toggle::after{
  display: none;
}
.chart-div .p-nav{
  padding: 14px 20px 14px 10px;
}
.chart-div .axis-select select{
  font-size: 12px;
  padding: 0 0px 0 5px;
}
.chart-div .axis-select select.aa{
  width: 60px;
}
.chart-div .axis-select select.bb{
  width: 90px;
}
.chart-div .axis-select .aaof{
  color: #ffffff;
  padding: 0 5px 0;
  align-self: center;
}
.chart-div .axis-select select{
}
.chart-div .option{
  margin-left: 3px;
  padding: 5px;
}
.chart-div .dynamic-axis-append>div{
margin-bottom: 5px;
}
.chart-div .axis-append-div .axis-append-input{
  display: none;
  width: 100px;
  position: absolute;
  top: auto;
  left: 10px;
}
/* canavas div */
.canvas-div {}
.canvas-div
.canvas-div
.canvas-div
.canvas-div{}
/* table */
.canvas-div.row>div,
.row.chart-table>div{
  padding-left: 0;
  padding-right: 0;
}
.chart-table{
margin-bottom: 20px;
}
.chart-table
.chart-table
.chart-table
.chart-table
.chart-table{
  
}
.chart-table table th{
  width: 200px;
}
.chart-table table th:first-child{
width: 30px;
}
